<div class="container">

<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions", class:'link_2' %>
  </div>
<% end %>


<%= link_to 'Log in', new_user_session_path, class: 'link_1' %><br>
<%= link_to 'Sign up', new_user_registration_path, class: 'link_1' %>

</div>

<p style="float: right; margin-right: 15%;">CopyRight Infratop.inc</p>